<!DOCTYPE HTML>
<html>

<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>空间动态</title>

<link href="./Views/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="./Views/js/jquery-1.11.0.min.js"></script>
<!-- Custom Theme files -->
<link href="./Views/css/style.css" rel="stylesheet" type="text/css" media="all"/>
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

</head>
<style type="text/css">
.denglu form{
	float: right;
	margin-left: 0.5rem;/*欢迎和注销的位置	*/
}
.denglu{
	margin-top: 0.4rem;
	
}
.denglu form input{
	font-size: 1.1rem;/*注销按钮大小*/
}
.denglu input{
	font-size: 1.1rem;/*登录按钮大小*/
	transition: 0.3s ease-in;
	height: 100%;
	width: 100%;
	border: 0px;
	background-color: #30a9f1;
}	
.denglu input:hover{
	color:black ;
	background-color: #30a9f1;
	

}
.black{width:800px;margin:auto auto;text-align: center;padding-bottom: 20px;font-size: 20px}
</style>
<body>
<!--header start here-->
<div class="banner-two">
  <div class="header">
	<div class="container">
		 <div class="header-main">
				<div class="logo">
					<h2><a href="index.php">蓝色空间</a></h2>
				</div>
				<div class="top-nav">
				<?php
					if($isLogin){
				?>
					<div class="denglu"> <a href="?a=showLogin&l=showActivity"><input type="submit" value="登录" >
					</a></div>
				<?php
					}else{
				?>
					<div class="denglu">
					<b>欢迎您，<?php echo $_SESSION['name']; ?></b>
					<form method="post" action="?a=logout">
					<input type="submit" name="submit" value="注销" >
					</form>
					</div>
				<?php
					}
				?>
				<nav class="cl-effect-20">
					   <span class="menu"> <img src="./Views/images/icon.png" alt=""/></span>
					<ul class="res">
					   <li><a href="?" class="active">首页</a></li> 
						<li><a href="?a=showActivity">空间动态</a></li> 
						<li><a href="?a=showStudent">学子风采</a></li>
						<li><a href="?a=showShow">荣誉展示</a></li> 
						<li><a href="?a=showProject">项目竞赛</a></li>
						<li><a href="?c=Message&a=showMessage">空间留言</a></li>
						<?php 
							if($isAdmin){ 
						?>
						<li><a href="?a=showBack">空间管理</a></li>
						<?php
							} 
						?>
				   </ul>
				</nav>
					<!-- script-for-menu -->
						 <script>
						   $( "span.menu" ).click(function() {
							 $( "ul.res" ).slideToggle( 300, function() {
							 // Animation complete.
							  });
							 });
						</script>
		        <!-- /script-for-menu -->
				</div>
		 <div class="clearfix"> </div>
	  </div>
	</div>
 </div>
</div>

<body>
<div class="container">
		<div class="gallery-main">
            <div class="gallery-top">
				<h2>空间动态</h2>
			</div>
		</div>
</div>

<!-- PORTFOLIO -->

	<div id="wrapper-container">
    
		<div class="container object">

			<div id="main-container-image">
                       
					<section class="work">

						<?php
							for($i=$count-1-($page-1)*12;$i>=$count-12-($page-1)*12&&$i>=0;$i--){
							$arr = $result[$i];
						?>
						<figure class="white">
							<a href="?a=showMore&id=<?php echo $arr['id']; ?>" >
								<img  alt="" src=<?php echo $arr['small_image']; ?> />
								<dl>
									<dt>活动简介</dt>
									<dd><?php echo $arr['description']; ?></dd>	
								</dl>
							</a>
                            <div id="wrapper-part-info">
                            	<div id="part-info"><?php echo $arr['title']; ?></div>
							</div>
                        </figure>	

						<?php
							if((-1*($i-$count+($page-1)*12))%4==0){
								echo "<br>";
							}

							}
						?>
						
                        
					</section>
                    
				</div>	
            	    
			</div>

	<!-- 翻页 -->
	 <div class="black"><!-- style="float:right;margin-top:-20px;margin-right: 80px;" -->
	 	<?php
	 		if($page==1) {
	 	?>
	 	&lt;
	 	<?php
	 		}
	 		else{
	 	?>
		<a href="?a=showActivity&page=<?php echo $page-1; ?>" > &lt; </a>

		<?php
			}
			for($i=1;$i<=$maxPage;$i++){ 
				if($i==$page)
					$c="color:#27A9E3";
				else
					$c="";
		?>
		<a href="?a=showActivity&page=<?php echo $i; ?>" style=<?php echo $c; ?> ><?php echo $i; ?></a>
		<?php
			}
		?>

		<?php
	 		if($page==$maxPage) {
	 	?>
	 	&gt;
	 	<?php
	 		}
	 		else{
	 	?>
		<a href="?a=showActivity&page=<?php echo $page+1; ?>"> &gt; </a>
		<?php
			}
		?>
	</div>
         
    <div id="wrapper-oldnew">
    	<div class="oldnew">
        	<div class="wrapper-oldnew-prev">
            	<div id="oldnew-prev"></div>
        	</div>
            <div class="wrapper-oldnew-next">
            	<div id="oldnew-next"></div>
    		</div>
        </div>
	</div>  

     <!--footer start here-->
<div class="footer">
	<div class="container">
		<div class="footer-main" style="text-align: center;">
		    <div class="row">
		    <div class="col-md-4 ftr-grid">
		    	<h4><a href="#">返回顶部</a></h4>
		    </div>
		    <div class="col-md-4 ftr-grid">
		    	<h4><a href="#">联系我们</a></h4>
		    	<input type="text" value="
请留下您的建议" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = '
请留下您的建议';}" style="margin-top: 2rem; ">
		    	<input type="submit" value="提交">
		    </div>
		    <div class="col-md-4 ftr-grid">
		    	<h4><a href="?a=showRegister">加入我们</a></h4>
		    </div>
		    </div>
			<div class="clearfix"> </div>
		</div>
		<div class="copy-right">
			   <p>版权所有 © 浙江科技学院 support@zust.edu.cn 浙ICP备11051284号<br> 地址：浙江·杭州市留和路318号 邮编：310023</p>
		   </div>
	</div>
</div>

<script src="./Views/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="./Views/js/jquery.scrollTo.min.js"></script>
<script type="text/javascript" src="./Views/js/jquery.localScroll.min.js"></script>
<script type="text/javascript" src="./Views/js/jquery-animate-css-rotate-scale.js"></script>
<script type="text/javascript" src="./Views/js/fastclick.min.js"></script>
<script type="text/javascript" src="./Views/js/jquery.animate-colors-min.js"></script>
<script type="text/javascript" src="./Views/js/jquery.animate-shadow-min.js"></script>    
<script type="text/javascript" src="./Views/js/main.js"></script>
<script>

function addLoadEvent(func) {
	var oldonload = window.onload;
	if (typeof window.onload != 'function') {
		window.onload = func;
	} else {
		window.onload = function() {
			if (oldonload) {
				oldonload();
			}
			func();
		}
	}
}
addLoadEvent(preloader);

</script>

</body>
</html>
