<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
<meta http-equiv="Pragma" content="no-cache"> 
<meta http-equiv="Cache-Control" content="no-cache"> 
<meta http-equiv="Expires" content="0"> 
<title>后台管理——切换账号</title> 
<link href="./Views/css/login.css" type="text/css" rel="stylesheet"> 
</head> 
<body> 

<div class="login">
    <div class="message">后台管理——切换账号</div>
    <div id="darkbannerwrap"></div>
    
    <form method="post" action="?a=changeUser"> 
		<input name="action" value="login" type="hidden">
		<input name="username" placeholder="用户名" required="" type="text">
		<hr class="hr15">
		<input name="password" placeholder="密码" required="" type="password">
		<hr class="hr15">
		<input value="登录" name="submit" style="width:100%;" type="submit">
		<hr class="hr20">
		<p>还没有账号？<a href="?a=showRegister">立即注册</a><button onClick="window.history.go(-1); " class="btn btn-default radius" style="float: right;margin-top: -5px;background-color: #fff" type="button">&nbsp;&nbsp;&nbsp;&nbsp;取消&nbsp;&nbsp;&nbsp;&nbsp;</button></p>
		
		<!-- 帮助 <a onClick="alert('请联系管理员')">忘记密码</a> -->
	</form>

	
</div>

<div class="copyright">版权所有 © <a href="a=showHomepage" target="_blank">蓝色空间</a></div>

</body>
</html>