<!doctype html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>学子简介</title>
	<link rel="stylesheet" type="text/css" href="./Views/css/default.css">
	<link rel="stylesheet" type="text/css" href="./Views/lib/cntl.css">
	
</head>
<body>
	<div class="htmleaf-container">
		<header class="htmleaf-header">
			<h1> 蔡靖楠<span>2015级软件工程</span></h1>
	    </header>
		<div class="cntl">
			<span class="cntl-bar cntl-center">
				<span class="cntl-bar-fill"></span>
			</span>

			<div class="cntl-states">

				<div class="cntl-state">
					<div class="cntl-content">
						<h4>简介</h4>
						<p>蔡靖楠：男，2015级软件工程专业学生。信息学院蓝色空间（bluezone）成员。实践指导教师：岑岗、程志刚、马伟锋等。</p>
					</div>
					<div class="cntl-icon cntl-center">'00</div>
				</div>


				<div class="cntl-state">
					<div class="cntl-content">
						<h4>科技项目实践</h4>
						<p>参加国家级大学生创新训练计划项目“大学生科技创新项目过程化管理平台建设”（2016）；参与校春萌计划项目“校园资讯服务平台台”（2016）。</p>
					</div>

					<div class="cntl-image"><img src="./Views/images/cjn1.jpg" alt=""></div>
					<div class="cntl-icon cntl-center">'01</div>
				</div>

				<div class="cntl-state">
					<div class="cntl-content">
						<h4>学科竞赛实践</h4>
						<p>参加全国大学生计算机设计大赛、浙江省服务外包竞赛等。
						</p>
					</div>

					<div class="cntl-image"><img src="./Views/images/dwf2.jpg" alt=""></div>
					<div class="cntl-icon cntl-center">'02</div>
				</div>

				<div class="cntl-state">
					<div class="cntl-content">
						<h4>作品成就</h4>
						<p>作品“校园资讯服务平台”获第十六届全国计算机设计竞赛校选拔赛网站类三等奖（2016）；作品“大学生科技创新项目过程化管理平台”获第十七届全国计算机设计竞赛校选拔赛一等奖（2017）。
						</p>
					</div>

					<div class="cntl-image"><img src="./Views/images/wk6.jpg" alt=""></div>
					<div class="cntl-icon cntl-center">'03</div>
				</div>

				<div class="cntl-state">
					<div class="cntl-content">
						<h4>论文专利成果</h4>
						<p>暂无，正在努力。。。
						</p>
					</div>

					<div class="cntl-image"><img src="./Views/images/wk5.jpg" alt=""></div>
					<div class="cntl-icon cntl-center">'04</div>
				</div>

					
				

				<div class="cntl-state">
				    <div class="cntl-content">
					<h4>&nbsp</h4>
						<p>&nbsp</br>
						&nbsp</br>
						&nbsp</br>
						
						

						
						<h1><a href="?a=showStudent">返回上层</a></h1>
						</p>	
					</div>

					<div class="cntl-icon cntl-center">end</div>
				</div>
			</div>
		</div>
	</div>
	
	<script>window.jQuery || document.write('<script src="./Views/js/jquery-1.11.0.min.js"><\/script>')</script>
	<script type="text/javascript" src="./Views/lib/jquery.cntl.js"></script>
	<script type="text/javascript">
		$(document).ready(function(e){
			$('.cntl').cntl({
				revealbefore: 300,
				anim_class: 'cntl-animate',
				onreveal: function(e){
					console.log(e);
				}
			});
		});
	</script>
</body>
</html>