<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<meta http-equiv="Pragma" content="no-cache"> 
<meta http-equiv="Cache-Control" content="no-cache"> 
<meta http-equiv="Expires" content="0"> 
<title>用户注册</title> 
<link href="./Views/css/login.css" type="text/css" rel="stylesheet"> 
</head> 
<body> 

<div class="login">
    <div class="message">蓝色空间-用户注册</div>
    <div id="darkbannerwrap"></div>
    
    <form method="post" action="?a=register" > 
		<input name="action" value="login" type="hidden">
		<input name="name" placeholder="请输入用户昵称" required="" type="text">
		<hr class="hr15">
		<input name="username" placeholder="请输入学号" required="" type="text">
		<hr class="hr20">
		<input name="password" placeholder="请输入密码" required="" type="password">
		<hr class="hr20">
		<input name="confirm" placeholder="请再次输入密码" required="" type="password">
		<hr class="hr25">
		<input value="立即注册" name="submit" style="width:100%;" type="submit">
		<hr class="hr35">
	</form>
	
</div>

		<div class="copyright">版权所有 © <a href="index.php" target="_blank">蓝色空间</a></div>

</body>
</html>